img{
    width: 300px;
}

header{
    /* border: 2px solid red; */
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(22, 21, 21);
    padding: 20px;
    background-color: #000606;
}

#imagem-navbar{
    width: 50px;
}

ul{
    display: flex;
    color: white;

    width: fit-content;
    margin: 0 auto;
}

ul li{
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    
    padding: 10px;
    background-color: #01080b;
    border-radius: 10px;
}

a:hover{
    background-color: #000b0fa2;
}



body{
    background-color: #01090c;
}

.card{
    
    margin-bottom: 50px;
    width: fit-content;
    text-align: center;
    padding: 20px;
    margin-right: 50px;
    background-color:aliceblue ;
    border-radius: 20px;
}

h1{
   text-align: center;
   color: white;
}

#titulo{
    width: 200px;
}

.container{
    display: flex;
    padding: 20px;
    
}

main{
    background-color: #090909;
    box-shadow: 2px 2px 2px black;
    width: 900px;
    margin: 50px auto;
}

.cor-titulo{
    color: red;
}

.paragrafo-card{
    font-size: 20px;
    font-weight: bolder;
}


